body {
    margin: 0;
}


#container {
    height: 1500px;
    width: 960px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 10px #333;
    box-shadow: 0 0 20px #333;
}

header {
    margin-top: 20px;
    height: 60px;
    width: 435px;
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px #333;
    border-radius: 1px 20px 20px 1px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#04c6e4+0,60abf8+44,4096ee+100 */
    background: rgb(4,198,228); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(4,198,228,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(4,198,228,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(4,198,228,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04c6e4', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

#navigation {}

nav {
    height: 60px;
}

nav ul ul {
    height: 30px;
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav ul {
    height: 60px;
    list-style: none;
    position: relative;
    display: inline-table;
    margin: 0;
    padding: 0;
}
nav ul:after {
    content: ""; clear: both; display: block;
}
nav ul li {
    text-align: center;
    float: left;
    height: 18px;
    margin-top: 20px;
    padding: 0 10px 0 10px;
    border-right: solid 1px #ffffff;
}

nav ul li:hover {
}
nav ul li:hover a {
    color: #095561;
}
nav ul li a {
    font-family: sans-serif;
    display: block;
    color: #ffffff; text-decoration: none;
}

nav li:last-child {
    border: none;}

nav ul ul {
    height: 30px;
    position: absolute; top: 100%;
}

nav ul ul li {
    float: none;
    position: relative;
    border-right: 0;
}

nav ul ul li a {
    padding: 10px 139px;
    color: #fff;
}

nav ul ul li a:hover {
    color: #095561;
}
nav ul ul ul {
    position: absolute; left: 100%; top:0;
}
section {
    height: 1500px;
    width: 960px;
}

#block_1 {

}

#picture {
    width: 960px;
    height: 1500px;

}

img {
    width: 960px;

}

